<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StationeryRetailChain</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-sm" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Головна сторінка
            </NavLink>
        </div>
        @if((currentEmployee?.Job.JobName.ToLower()??"").Contains("admin"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-sm" href="admin">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Термінал адміністратора
                </NavLink>
            </div>
        }
        @if((currentEmployee?.Job.JobName.ToLower()??"").Contains("seller") || (currentEmployee?.Job.JobName.ToLower()??"").Contains("admin"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-sm" href="seller">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Термінал продавця
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-sm" href="customers">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> База клієнтів
                </NavLink>
            </div>
        }
        @if((currentEmployee?.Job.JobName.ToLower()??"").Contains("supply") || (currentEmployee?.Job.JobName.ToLower()??"").Contains("admin"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-sm" href="supplymanagermain">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Термінал поставок на гол. склад
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-sm" href="supplymanagershop">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Термінал поставок у відділення
                </NavLink>
            </div>
        }
        @if((currentEmployee?.Job.JobName.ToLower()??"").Contains("product") || (currentEmployee?.Job.JobName.ToLower()??"").Contains("admin"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-sm" href="products">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Термінал менеджера з продажу
                </NavLink>
            </div>
        }
        @if((currentEmployee?.Job.JobName.ToLower()??"").Contains("admin"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-sm" href="anal">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Аналітика
                </NavLink>
            </div>
        }
        @*@if((currentEmployee?.Job.JobName.ToLower()??"").Contains("product") || (currentEmployee?.Job.JobName.ToLower()??"").Contains("admin"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link lh-sm" href="offers">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Керування акціями
                </NavLink>
            </div>
        }*@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private Employee? currentEmployee;
    protected override async Task OnParametersSetAsync()
    {
        AuthenticationStateProvider.AuthenticationStateChanged += async (state) =>
        {
            if(state.Result?.User?.Identity?.Name != null)
                currentEmployee = await Http.GetFromJsonAsync<Employee>("api/employees/name/" + state.Result.User.Identity.Name.Replace('_', ' '));
            StateHasChanged();
        };
    }
}
