<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StationeryRetailChain</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-sm" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-sm" href="seller">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Термінал продавця
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-sm" href="customers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> База клієнтів
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-sm" href="salesmanager">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Термінал менеджера з продажу
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-sm" href="supplymanagermain">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Термінал поставок на гол. склад
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-sm" href="supplymanagershop">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Термінал поставок у відділення
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
