@page "/"

<PageTitle>Головна</PageTitle>
<div class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Statio</h1>
            <p class="lead text-start">Система обліку продажів та поставок мережі магазинів канцтоварів</p>
            <p class="lead text-start">Мережа магазинів канцтоварів надає послуги з продажу канцелярських виробів для офісу, школи, образотворчого мистецтва.</p>
        </main>
    </div>
</div>
<footer class="mt-auto text-black-50 end-0 position-absolute bottom-0">
    <p>by Гірний Микола</p>
</footer>

